/* line 1, ../compass/sass/styles.scss */
#page-wrapper {
  padding: 0px;
  width: 100%;
  margin: auto;
}
/* line 5, ../compass/sass/styles.scss */
#page-wrapper .row {
  margin: 0px;
}
/* line 7, ../compass/sass/styles.scss */
#page-wrapper .row #header {
  padding: 0px;
  background-color: #1c394e;
  width: 100%;
  height: 349px;
  text-align: center;
}
/* line 13, ../compass/sass/styles.scss */
#page-wrapper .row #header img {
  padding-top: 40px;
  max-width: 100%;
}
/* line 17, ../compass/sass/styles.scss */
#page-wrapper .row #header #header-text {
  color: white;
  margin-top: 35px;
  text-align: center;
}
/* line 22, ../compass/sass/styles.scss */
#page-wrapper .row #header h1 {
  font-size: 60px;
  font-family: fantasy;
  letter-spacing: 3px;
  padding-top: 40px;
}
/* line 28, ../compass/sass/styles.scss */
#page-wrapper .row #header h3 {
  color: white;
  text-align: left;
  margin-top: 50px;
}
/* line 37, ../compass/sass/styles.scss */
#page-wrapper #more-tweets {
  background-color: #55acee;
  height: 50px;
  width: 100%;
  text-align: center;
}
/* line 42, ../compass/sass/styles.scss */
#page-wrapper #more-tweets a {
  line-height: 50px;
  color: white;
  font-size: 18px;
}
/* line 49, ../compass/sass/styles.scss */
#page-wrapper #more-tweets.navbar-scrolled {
  position: fixed;
  z-index: 100;
  margin-top: -349px;
}
/* line 55, ../compass/sass/styles.scss */
#page-wrapper #trump-tweets {
  margin: 0px;
  width: 100%;
  font-family: 'Inconsolata', sans-serif;
  letter-spacing: 2px;
}
/* line 61, ../compass/sass/styles.scss */
#page-wrapper #trump-tweets .tweets {
  margin: 0px;
  width: 100%;
  position: relative;
}
/* line 65, ../compass/sass/styles.scss */
#page-wrapper #trump-tweets .tweets .background-image {
  background-size: cover;
  height: 70vh;
  background-position: 50% 50%;
}
/* line 71, ../compass/sass/styles.scss */
#page-wrapper #trump-tweets .tweets .quote {
  width: 60%;
  height: 60%;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 10%;
  color: white;
}
/* line 79, ../compass/sass/styles.scss */
#page-wrapper #trump-tweets .tweets .quote h3 {
  text-align: left;
  font-size: 36px;
  font-weight: bold;
}
/* line 84, ../compass/sass/styles.scss */
#page-wrapper #trump-tweets .tweets .quote .screenname {
  margin-top: 10%;
  font-size: 18px;
}
/* line 92, ../compass/sass/styles.scss */
#page-wrapper .margin-adjust {
  margin-top: 50px !important;
}
